.navbar{
    padding: 50px;
  
  }
  
  
  .navbar-nav .nav-link  { 
    font-size: 1.4rem; 
    color: white;
    margin: 20px;
  }
  
  header{
    background-color:indianred ;
    
  }
  
  header .navbar-nav .nav-link {
    color: white !important; 
}

.search-btn { 
    background-color: transparent!important; 
    border: none!important; 
    color: white!important; 
}

.search-btn:hover {
    color: black; 
}


.carousel-container {
    max-width: 800px; 
    margin: 20px auto; 
    padding: 20px;
    margin-bottom: 100px ;
}

.carousel-inner img {
    width: 100%; 
    height: auto;
    object-fit: cover;
}

.tittle{
    font-size: 1.4rem;
    color: black;
    text-align: center;
}

.linha {
    height: 2px; 
    background-color: black; 
    margin-bottom: 20px; 
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;  
}

.carousel-inner {
    max-height: 400px; 
    overflow: hidden; 
}

.bold{
    font-weight: bold;
}

.carousel-caption{
    top: 47%;
    text-align: center;
    transform: translateY(-10%);
    
}

.carousel-caption.custom-caption {
    top: 52.5%; 
    transform: translateY(-50%); 
}

.move-left {
    transform: translateX(-1%); 
}

body{
    background-color:  #D3D3D3;
}

.card{
    background-color:beige !important;
    margin: 10px;
    margin-left: -0.5px;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    max-height: 500px; }

.card-img-top {
    width: 100%;
    height: 120px; 
    object-fit: cover;
}

.row{
    margin-top: 100px !important;
    margin-bottom: 250px;
    
}

.custom-card { 
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-body{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}

.section-divider {
    position: absolute;
    top: calc(100% + 20px); 
    height: 40px; 
    background-color: indianred; 
    width: 100%; 
    left: 0; 
    margin-top: 87px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.9);
}

.container-cards {
    position: relative;
}

.titulos-recentes {
    position: absolute;
    top: 850px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.titulo-com-linha {
    font-size: 1.7rem;
    color: black;
    text-align: center;
  }
  
  .linha {
    height: 2px;
    background-color: black;
    margin-bottom: 20px;
  }

  .foto-perfil {
    background-image: url('IMG_20231118_171127~5.jpg');
    background-size: cover;
    background-position: center;
    height: 200px; 
    width: 200px;
    border-radius: 50%; 
}

.fa-whatsapp {
    color: green;
    font-size: 24px;
    margin:10px;
  }

  .sobre-mim {
    position: static; 
    margin-top: 50px; 
}

.card-divider {
    position: absolute;
    top: calc(100% + 20px); 
    height: 40px; 
    background-color:indianred; 
    width: 100%; 
    left: 0; 
    margin-top: 1550px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.9);
}

.foto-perfil{
    margin-bottom: 10px;
    margin-left: -20px;
}

.fa-whatsapp {
    color: green;
    font-size: 24px;
    margin: 10px;
    margin-left: -4px; 
}

.titulos-recko{
    position: absolute;
    top: 2900px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.cards-divider{
    position: absolute;
    top: calc(100% + 20px); 
    height: 40px; 
    background-color:black; 
    width: 100%; 
    left: 0; 
    margin-top: 2150px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.9);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.explorer-tel .card {
    padding: 10px; 
    overflow: hidden; 
}

.explorer-tel .card-img-top {
    width: 100%; 
    height: 200px; 
    margin: 0 auto;
    object-fit: cover;
}


.explorer-tel .container {
    margin-top: 1rem; 
}

.explorer-tel .mb-3 {
    margin-bottom: 1rem; 
}

.explorer-tel .card{
    
.card { 
    margin-top: 0.5rem; 
}

}

.serie-tel .serie-imagem {
    width: 110%; 
    height: 500px; 
    object-fit: cover; 
}

@media (max-width: 768px) {
    #search-button {
        display: block; 
    }
    .search-btn {
        display: block; 
    }
}




 
  
  
  
